@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Inter:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}
.page-container {
  @apply pt-24; /* Equals 6rem or 96px */
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
html,
body {
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.font-tarot {
  font-family: 'MedievalSharp', cursive;
}

.font-spotify {
  font-family: 'Inter', sans-serif;
}